<div class="container">
  <h1>Create a new Cocktail</h1>

  <%= simple_form_for (@cocktail) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit %>
  <% end %>
</div>

<%= link_to "Back to Cocktails", cocktails_path   %>
