<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');background-size:cover;">
  <h2><%= @cocktail.name%></h2>
</div>

<ul>

<% @doses.each do |dose| %>
<li>
<%= dose.ingredient.name %>
<%= dose.description %>
<%= link_to "Remove from recipe", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</li>
<% end %>
</ul>

<h2>Add an ingredient to <%= @cocktail.name %></h2>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
<div>
  <ul>
    <% @reviews.each do |review|%>
    <li><%= review.content %>
    <%= review.rating %></li>
    <% end %>
  </ul>

</div>


<h2>Add a review for <%= @cocktail.name %></h2>


  <%= form_for ([@cocktail, @review]) do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field :rating, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
