<h1><%= @cocktail.name%></h1>

<% @doses.each do |dose| %>
<%= dose.ingredient.name %>
<%= dose.description %>
<%= link_to "Remove from recipe", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>

<h1>Add a new part to the Cocktail</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>


<% @reviews.each do |review|%>
<%= review.content %>
<%= review.rating %>
<% end %>

<%= link_to "Add a review", new_cocktail_review_path(@cocktail) %>

<h1>Add a review for <%= @cocktail.name %></h1>


  <%= form_for ([@cocktail, @review]) do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field :rating, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
  <% end %>

<%= link_to "Back to all cocktails", cocktails_path %>
